<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.smartsoftware.smarthr.mapper.OperationLogMapper" >
  <resultMap id="BaseResultMap" type="top.smartsoftware.smarthr.model.OperationLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="addDate" property="addDate" jdbcType="TIMESTAMP" />
    <result column="operate" property="operate" jdbcType="VARCHAR" />
    <result column="hrid" property="hrid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addDate, operate, hrid, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operation_log
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getAllLog" parameterType="top.smartsoftware.smarthr.model.OperationLogBO" resultMap="OperationLogVOMap">
    SELECT
        ol.*,
        hr.username,
        hr.`name`
    FROM
        operation_log ol
        LEFT JOIN hr ON ol.hrid = hr.id
    WHERE 1=1
      <if test="name!=null">
        AND hr.name like concat('%',#{name},'%')
      </if>
      <if test="type!=null">
        AND ol.type = #{type}
      </if>
      <if test="startTime!=null">
        AND ol.addDate >= #{startTime}
      </if>
      <if test="endTime!=null">
        AND ol.addDate &lt;= #{endTime}
      </if>
    </select>
    <resultMap id="OperationLogVOMap" type="top.smartsoftware.smarthr.model.vo.OperationLogVO">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="addDate" property="addDate" jdbcType="TIMESTAMP" />
      <result column="operate" property="operate" jdbcType="VARCHAR" />
      <result column="hrid" property="hrid" jdbcType="INTEGER" />
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="type" property="type" jdbcType="INTEGER" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operation_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.smartsoftware.smarthr.model.OperationLog" >
    insert into operation_log (id, addDate, operate, 
      hrid,type)
    values (#{id,jdbcType=INTEGER}, #{addDate,jdbcType=TIMESTAMP}, #{operate,jdbcType=VARCHAR},
      #{hrid,jdbcType=INTEGER},#{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.smartsoftware.smarthr.model.OperationLog" >
    insert into operation_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addDate != null" >
        addDate,
      </if>
      <if test="operate != null" >
        operate,
      </if>
      <if test="hrid != null" >
        hrid,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="addDate != null" >
        #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null" >
        #{operate,jdbcType=VARCHAR},
      </if>
      <if test="hrid != null" >
        #{hrid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.smartsoftware.smarthr.model.OperationLog" >
    update operation_log
    <set >
      <if test="addDate != null" >
        addDate = #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null" >
        operate = #{operate,jdbcType=VARCHAR},
      </if>
      <if test="hrid != null" >
        hrid = #{hrid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.smartsoftware.smarthr.model.OperationLog" >
    update operation_log
    set addDate = #{addDate,jdbcType=TIMESTAMP},
      operate = #{operate,jdbcType=VARCHAR},
      hrid = #{hrid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>